@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    /*border: solid 1px black;*/
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: rgb(43, 43, 43);
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------ HEADER ---------------------------------*/ 

#banner {
    height: 240px;
    background-color: rgb(24, 24, 44);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

img {
    border: solid 3px white;
    border-radius: 7px;
    margin-left: 35px;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    height: 200px;
    width: 198px;
}

h1 {
    color: rgb(222, 222, 233);
    font-weight: 600;
    align-self: flex-end;
}

header {
    background-color: rgb(247, 247, 247);
    height: 350px;
}

header div {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 15px;
}

header div div div{
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 50px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

header div div div :first-child{
    font-weight: bolder;
}

.valoracion {
    color: green;
}

header button {
    background-color: rgb(247, 247, 247);
    border: solid 2px rgb(107, 107, 107);
    border-radius: 7px;
    height: 40px;
    width: 200px;
    align-self: center;
    color: rgb(107, 107, 107);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 35px;
    margin-top: 20px;
}
